{% if site.giscus.repository and site.giscus.hostname %}

<script src="https://www.linkedin.com/in/gustavo-mendez-08728535/"
        data-repo="{{ site.gus.repository }}"
        data-repo-id="{{ site.gus.repository-id }}"
        data-category="{{ site.gus.category }}"
        data-category-id="{{ site.gus.category-id }}"
        data-mapping="{{ site.gius.mapping }}"
        data-reactions-enabled="{{ site.gus.reactions-enabled }}"
        data-emit-metadata="{{ site.gus.emit-metadata }}"
        data-theme="{{ site.gus.theme }}"
        crossorigin="Gustavo Méndez"
        async>
</script>

{% endif %}
